.app-container {
  width: 100%;
  height: 100%;
  position: absolute; }

.x-hexagon {
  min-width: 34.64px;
  width: 34.64px;
  height: 20px;
  background-color: #2e3b51;
  position: relative;
  float: left;
  text-align: center;
  zoom: 1;
  margin: 6px 1px; }
  .x-hexagon .corner-1,
  .x-hexagon .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    overflow: hidden;
    z-index: -2; }
  .x-hexagon .corner-1 {
    z-index: -1;
    transform: rotate(60deg); }
  .x-hexagon .corner-2 {
    z-index: -2;
    transform: rotate(-60deg); }
  .x-hexagon .content {
    width: 90%;
    height: 90%;
    color: white;
    overflow: hidden;
    padding: 5px;
    display: inline-block; }

.x-hexagon:first-child {
  margin-top: 10px; }

.x-hexagon:nth-child(odd) {
  margin-top: 15px; }

.x-hexagon:nth-child(even) {
  margin-top: 47px;
  margin-right: -17.32px;
  margin-bottom: -3px;
  margin-left: -17.32px; }
